body{
    font-family: 'Merriweather', serif;
    margin: 0;
}
.top{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.top h1{
    font-size: 70px;
}
.top p{
    font-size: 20px;
}
.top-details{
    color:white;
    padding: 150px;
    text-align: center;
    margin-bottom: 100px;   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red );
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
.donation h1{
    font-size: 30px;
    margin-left: 40%;
    margin-right: 40%;
}
.donation p{
    font-size: 18px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}
.amount{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}
.amount h3{
    font-weight: bold;
    padding: 50px;
    border: 2px solid rgb(242, 239, 239);
    border-radius: 5px;
    margin-right: 5%;
    background-color: rgb(242, 239, 239);
}
#mark{
    border: 3px solid tomato;
    background-color: rgb(249, 165, 155);
}
.input-amount{
        text-align: center;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        margin-left: 42%;
        margin-right: 40%;
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
    }

.button{
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid orange;
    color: white;
}

.plan h2{
    text-align: center;
}
.plan p{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}
.flex-design{
    display: flex;
    width: 90%;
    margin: 60px 90px 60px 90px;
    padding: 10px;
}
.flex-design p{
    font-size: 12px;
}
.box{
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px; 
}
#food{
    background-color:rgb(216, 255, 242)
}
#shelter{
    background-color: rgb(255, 227, 217);
}
#education{
    background-color: rgb(252, 240, 225);
}
.needs{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.needs img{
    width: 100%;
    padding-top: 20px;
}
.needs-item{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    padding:  10px;
}
.update{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}
.email{
    border: none;
    background-color: lightgrey;
    color: darkgray;
    padding: 10px;
    
}
#btn{
    color: white;
    font-weight: bold;
    background-image: linear-gradient(orange,red);
    border: none;
    padding: 10px;
}
#email-box{
    padding: 50px;
    margin-left: 30%;
    margin-right: 30%;
    border: none;
    background-color: rgb(255, 214, 219);
}
footer{
    text-align: center;
    padding: 2%;
    background-color: black;
    color: white;
}
footer h1{
    font-family: 'Permanent Marker', cursive;
    color: crimson;
}







